<mat-toolbar color="primary">
  <h1>
    Spring Boot and Angular Template
  </h1>
  <button *ngIf="isloggedIn()" mat-button routerLink="/home">Home</button>
  <button *ngIf="isloggedIn()" mat-button [matMenuTriggerFor]="menu">Administration</button>
  <button mat-button routerLink="/about">About</button>
  <button *ngIf="isloggedIn()" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/user"> List of Users</button>
  <button mat-menu-item>Other</button>
</mat-menu>

<router-outlet></router-outlet>
