<div class="mainContent">
  <button mat-icon-button (click)="createUser()" type="button" title="Add User">
    <mat-icon>add_circle_outline</mat-icon>
  </button>

  <mat-card *ngFor="let user of users" style="margin-top:10px;">
    <mat-card-header>
      <mat-card-title>{{user.uName}}</mat-card-title>
      <mat-card-subtitle>Firstname: {{user.fName}} || Lastname: {{user.sName}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{user.comments}}
      </p>
      <span *ngIf="user.superAdmin">SA</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="editUser(user.id)" type="button">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteUser(user.id)" type="button">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
